<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MemoEnd Sign-up Page</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="javascripts/scripts.js"></script>
    </head>


    <body>

        <!-- Content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                        	<a class="logo" href="signup.html"></a>
                            <h1><strong>MemoEnd</strong>에 회원가입을 합니다</h1>
                            <div class="description">
                            	<p>
	                            	사진, 글로 간단히 저장하고 모바일로 쉽고 편하게
                            	</p>
                            </div>
                            <div class="top-big-link">
                            	<a class="btn btn-link-1 launch-modal" href="#" data-modal-id="modal-register">회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- MODAL -->
        <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h3 class="modal-title" id="modal-register-label">지금 회원가입을 하세요</h3>
        				<p>개인정보를 입력해주세요:</p>
        			</div>
        			
        			<div class="modal-body">
        				
	                    <form ng-app="memoend_user" ng-controller="signupCtrl" role="form" action="#" method="get" class="registration-form">
	                    	<div class="form-group">
	                    		<label class="sr-only" for="form-first-name">ID</label>
	                        	<input type="text" ng-model="signup.email" name="email" placeholder="ID..." class="form-first-name form-control" id="form-first-name" ng-required="true">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-last-name">Password</label>
	                        	<input type="text" ng-model="signup.password" name="password" placeholder="Password..." class="form-last-name form-control" id="form-last-name" ng-required="true">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-email">이루고 싶은 목표(ex. 대학교, 기업, 시험...)</label>
	                        	<input type="text" ng-model="signup.company" name="company" placeholder="이루고 싶은 목표(ex. 대학교, 기업, 시험...)" class="form-email form-control" id="form-email" ng-required="true">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-about-yourself">화이팅문구</label>
	                        	<textarea ng-model="signup.fighting_word" name="fighting_word" placeholder="자신에게 해주는 화이팅문구..."
	                        				class="form-about-yourself form-control" id="form-about-yourself" ng-required="true"></textarea>
	                        </div>
	                        <button ng-click="sendSignUp()" type="button" class="btn">회원가입 하기!</button>
	                    </form>
	                    
        			</div>
        			
        		</div>
        	</div>
        </div>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>